.container {
  position: center;
  padding-top: 10rem;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.a {
  color: black;
}

.username {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.password {
  padding-bottom: 1rem;
}

.link {
  color: black;
}

.musa {
  color: black;
}
